/*reuse.html css*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    font-family: "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif;
}

.ui-input{
	width: 100%;
	heigth:100%;
	padding:5px 10px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
}
