<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>作品</title>
    <link rel="shortcut icon" href="../../design/common/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../css/common/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css/common/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/common/common.css">
    <link type="text/css" rel="stylesheet" href="../css/common/header.css">
    <link type="text/css" rel="stylesheet" href="../css/common/footer.css">
    <link type="text/css" rel="stylesheet" href="../css/work.css">
</head>

<body>
    <div>
        <article id="header">
            <nav>
                <img class="circle1" id="me" src="../../design/me.jpg" />
                <ul class="navRight">
                    <li><a href="resume.html">首页</a></li>
                    <li><a href="article.html">文章</a></li>
                    <li><a href="work.html">作品</a></li>
                    <li><a href="about.html">关于</a></li>
                    <li><img id="img" name="github" title="泡沫水灵灵的github，欢迎踩一踩、留言！" src="../../design/icon-github.png" /></li>
                </ul>
                <div style="clear:both;"></div>
            </nav>
            <div id="hometitle">
                <img class="background" src="">
            </div>
        </article>
        <article class="container" id="works">
            <section>
                <div id="tabs">
                    <a>ALL</a>
                    <a>JavaScript UtilFunctions</a>
                    <a>UI Components</a>
                    <a>Framework</a>
                    <a>Application</a>
                    <div class="all">
                        <ul>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <!--更多的li-->
                        </ul>
                    </div>
                    <div class="js">
                        <ul>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <!--更多的li-->
                        </ul>
                    </div>
                    <div class="ui">
                        <ul>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <!--更多的li-->
                        </ul>
                    </div>
                    <div class="framework">
                        <ul>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <!--更多的li-->
                        </ul>
                    </div>
                    <div class="application">
                        <ul>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">U</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">F</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">A</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <li>
                                <canvas></canvas>
                                <ul>
                                    <p class="workFlag">J</p>
                                    <h2>标题</h2>
                                    <p>内容内容内容内容</p>
                                </ul>
                            </li>
                            <!--更多的li-->
                        </ul>
                    </div>
                </div>
                <div id="loading">
                    <span></span>
                    点击查看更多
                </div>
            </section>
            <aside id="aside">
                <span id="search">
                    <span class="search-icon"></span>
                    <input class="su" type="text" placeholder="        Keywords" />
                    <input class="go" type="submit" value="GO"/>
                </span>
                <div id="top">
                    <label>人气排行榜</label>
                    <ol>
                        <li>
                            <canvas id="c1"></canvas>
                            <canvas id="r1"></canvas>
                            <p>ui.tree</p>
                        </li>
                        <li>
                            <canvas id="c2"></canvas>
                            <canvas id="r2"></canvas>
                            <p>util.trim</p>
                        </li>
                        <li>
                            <canvas id="c3"></canvas>
                            <canvas id="r3"></canvas>
                            <p>app.todo</p>
                        </li>
                        <li>
                            <canvas id="c4"></canvas>
                            <canvas id="r4"></canvas>
                            <p>ui.tab</p>
                        </li>
                        <li>
                            <canvas id="c5"></canvas>
                            <canvas id="r5"></canvas>
                            <p>util.addClass</p>
                        </li>
                    </ol>
                </div>
            </aside>
        </article>
        <footer id="footer">
            <p>
                <a href="resume.html">首页</a>
                <a href="article.html">文章</a>
                <a href="work.html">作品</a>
                <a href="about.html">关于</a></p>
            <hr>
            <ul>
                <li id="stu">
                    <h4>网站推荐</h4>
                    <ul>
                        <li><a href="http://www.zhangxinxu.com/" target="_blank">张鑫旭-鑫空间-鑫生活</a></li>
                        <li><a href="http://www.cnblogs.com/TomXu/" target="_blank">汤姆大叔的博客</a></li>
                        <li><a href="http://www.ruanyifeng.com/home.html" target="_blank">阮一峰的个人网站</a></li>
                        <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
                        <li><a href="https://segmentfault.com/" target="_blank">segmentfault</a></li>
                        <li><a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a></li>
                        <li><a href="http://blog.jobbole.com/" target="_blank">博客-伯乐在线</a></li>
                    </ul>
                </li>
                <li id="link">
                    <h4>友情链接</h4>
                    <ul>
                        <li><a href="http://blog.csdn.net/u010147288" target="_blank">泡沫水灵灵的博客</a></li>
                        <li><a href="http://weibo.com/u/2704130365/home?wvr=5&sudaref=security.weibo.com" target="_blank">泡沫水灵灵的微博</a>
                        </li>
                        <li><a href="http://lysongzi.com/" target="_blank">林友松のcoder</a></li>
                        <li><a href="http://www.codeceo.com/" target="_blank">码农网</a></li>
                        <li><a href="http://www.cnblogs.com/" target="_blank">博客园</a></li>
                        <li><a href="https://www.zhihu.com/" target="_blank">知乎</a></li>
                        <li><a href="http://www.2cto.com/" target="_blank">红黑联盟</a></li>
                        <li><a href="http://gold.xitu.io/#/" target="_blank">稀土掘金</a></li>
                    </ul>
                </li>
                <li id="study">
                    <h4>学习资料</h4>
                    <ul>
                        <li><a href="http://qun.jikexueyuan.com/web/topic/274" target="_blank">前端干货分享</a></li>
                        <li><a href="http://w3school.com.cn/" target="_blank">w3school在线教程</a></li>
                        <li><a href="http://www.apjs.net/" target="_blank">AnjularJS中文网</a></li>
                        <li><a href="http://nodejs.cn/" target="_blank">Node.js中文网</a></li>
                        <li><a href="http://efe.baidu.com/" target="_blank">百度EFE</a></li>
                        <li><a href="http://fis.baidu.com/" target="_blank">FIS3前端工程构建工具</a></li>
                    </ul>
                </li>
                <li id="stud">
                    <h4>书屋必备</h4>
                    <ul>
                        <li><a href="resume.html" target="_blank">JavaScript高级程序设计</a></li>
                        <li><a href="resume.html" target="_blank">Head First JavaScript</a></li>
                        <li><a href="resume.html" target="_blank">Head First HTML与CSS、XHTML</a></li>
                        <li><a href="resume.html" target="_blank">CSS权威指南</a></li>
                        <li><a href="resume.html" target="_blank">HTML5秘籍</a></li>
                        <li><a href="resume.html" target="_blank">HTTP权威指南</a></li>
                        <li><a href="resume.html" target="_blank">剑指offer</a></li>
                    </ul>
                </li>
                <li id="friendlink">
                    <h4>轻松天地</h4>
                    <ul>
                        <li><a href="http://bbs.jiyifa.cn/" target="_blank">记忆法论坛</a></li>
                        <li><a href="http://tuhaonet.com/" target="_blank">土豪网</a></li>
                        <li><a href="http://www.itmian4.com/" target="_blank">IT面试</a></li>
                        <li><a href="https://www.douban.com/people/143523117/" target="_blank">豆瓣douban</a></li>
                        <li><a href="http://www.bilibili.com/" target="_blank">哔哩哔哩弹幕视频网</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <p>版权信息：by paomo</p>
                <img name="github" title="泡沫水灵灵的github，欢迎踩一踩、留言！" src="../../design/icon-github.png" />
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../js/common/jquery.js"></script>
    <script type="text/javascript" src="../js/common/bootstrap.js"></script>
    <script type="text/javascript" src="../js/common/header.js"></script>
    <script type="text/javascript" src="../js/common/footer.js"></script>
    <script type="text/javascript" src="../js/work.js"></script>
</body>

</html>
