<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mobileUserDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.johnny.dao.invest.MobileUserDao"/>
        <property name="sqlSessionFactory" ref="investSqlSessionFactory"/>
    </bean>

    <bean id="swaggerTestDao" class="com.johnny.dao.SwaggerTestDao"/>
</beans>